@import vars

nav#navbar

    width: 100%
    height: 90px

    background: white
    display: flex
    justify-content: space-around
    align-items: center

    position: fixed
    max-width: inherit

    font-size: 0.9rem

    transition: all $bar-trans

    box-shadow: 0 1px 1px #ccc

    z-index: 10

    #logo img
            height: 70px
            transition: all $bar-trans

    a
        display: block
        font:
            size: 30px
            weight: 600
        color: black
        text:
            decoration: none
            transform: uppercase
        position: relative
        transition: all 0.1s ease-in-out

        &::before, &::after
            content: ''
            height: 3px
            position: absolute
            bottom: 0
            background: $aarvin-red

            width: 0
            opacity: 0
            transition: all 0.2s ease-out

        &::after
            right: 0

        &:hover
            color: $aarvin-red

        &.uk-active
            &::before, &::after
                width: 50%
                opacity: 1
