@import vars

#photo-grid
    // background-image: url(/img/spiration_dark.png)
    background-attachment: fixed

    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    position: relative
    top: 80px

    > *
        flex: 0 0 auto

#about
    height: 100vh
    width: 100%
    background: black
    text-align: center
    color: white
    font-size: 1.3rem

    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column

    padding: 10%

#contact
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    background: $aarvin-red
    position: relative

    & .contact-item
        display: inline-block
        margin: 0 auto
        padding: 3%
        font-size: 1.3rem
        transition: all 0.2s ease-in-out
        border-radius: 2px
        color: white

        &:hover
            background: white
            color: $aarvin-red
            text-decoration: underline

    & a
        text-decoration: none
        color: inherit
