#results
    background: white
    width: 80%
    max-width: 800px
    margin: 10px
    padding: 10px
    border-radius: 3px
    display: none
    position: relative
    font-size: 0.9rem
    max-height: calc(100vh - 80px - 150px)
    overflow-y: scroll

    @media (max-width: 900px)
        width: 100%
        max-width: 900px
        border-radius: 0

    &.show
        display: block

    .result-container
        width: 100%
        height: auto
        padding: 10px
        transition: all 200ms ease-in-out
        font-size: 0.8rem

    .small
        display: flex
        flex-direction: row
        justify-content: space-around
        cursor: pointer

        .summary-desc
            font-size: 1rem

    .main-image
        width: 50%
        background:
            size: cover
            position: center

        position: relative


    .summary-desc
        padding: 0 10px
        border-radius: 2px
        font-size: 0.9rem
        width: 50%
        position: relative
        

        .title-desc
            padding: 2px
            width: 100%
            text-align: center
            color: white
            background: black
            font-size: 1rem
            // position: absolute
            // bottom: 0

            .price-sep
                position: relative
                top: 20%

    .mini-info
        display: flex
        flex-direction: row
        justify-content: center
        color: $aarvin-red
        width: 100%
        justify-content: space-around
        // position: absolute
        // bottom: 0
        padding: 2px
        background: white

    .desc
        width: 80%
        padding: 0 5% 5% 0

    .uk-slider-nav
        display: flex
        justify-content: center
        padding: 5px

    .result-container .carousel
        img
            opacity: 1
            transition: opacity 300ms
        img[data-src]
            opacity: 0
            position: relative

            &::after
                content: '...'
                position: absolute
                left: 50%
                bottom: 50%

    .map
        width: 100%
        background: grey
        height: 400px

    .carousel > a > svg
        width: 34px
        height: 34px
        background: black
        padding: 10px
        border-radius: 50%
        position: relative