$search-transition: all 0.2s cubic-bezier( .7, .21, .54, 1.35)

#search-box
    background: white
    height: 100px
    min-height: 100px
    width: 80%
    max-width: 800px
    text-align: center
    display: flex
    justify-content: space-around
    align-items: center
    border-radius: 3px
    padding: 0 10px
    font-size: 2rem
    box-shadow: 0 0 1px 1px black
    z-index: 1

    &.loading
        display: none

    @media (max-width: 900px)
        width: 100%
        max-width: 900px
        border-radius: 0


@keyframes spin
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(360deg)

#search-spinner
    display: none
    animation: spin 700ms steps(8) infinite

%focused-label
    top: -30%
    left: 0
    font-size: 1rem
    color: $aarvin-red

#postcode-input
    padding: 5px 10px
    outline: 0
    border: 0
    font-size: inherit
    border-bottom: solid 5px black
    transition: all 0.2s ease-in-out

    & + label
        position: absolute
        transition: all 100ms ease-in-out
        left: 10px
        top: 0

        &.focused
            @extend %focused-label

    &:focus
        border-bottom: solid 5px $aarvin-red

        & + label
            @extend %focused-label

        & + #loc-icon
            color: transparent

#input-wrapper
    position: relative

#loc-icon
    position: absolute
    bottom: 15px
    right: 5px
    opacity: 0.7
    transition: all 0.2s ease-in-out

    &:hover
        cursor: pointer
        color: $aarvin-red
        opacity: 1
        transform: rotateZ(90deg)

#search-button, #search-drop
    outline: 0
    border-radius: 5px
    padding: 10px
    font-size: inherit

    &:hover
        cursor: pointer

#search-drop
    background: white
    color: black
    border: 1px solid $aarvin-red

#search-button
    background: #e0003c
    color: white
    border: 0
    position: relative
    overflow: hidden
    transition: $search-transition

    #search-arrow
        // +fa-icon
        // @extend .fas
        // content: fa-content($fa-var-long-arrow-alt-right)
        position: absolute
        bottom: -100%
        left: 0
        width: 100%
        height: 100%
        transition: $search-transition

    &:hover
        color: transparent
        background: $aarvin-red

        #search-arrow
            bottom: -25%
            color: white
