// styles injected into html for quicker initial render
@import vars

::-webkit-scrollbar
    display: none

*
    margin: 0
    padding: 0
    font-family: Helvetica, Arial, sans-serif
    box-sizing: inherit
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none

body, html
    box-sizing: border-box
    height: 100%

#photo-grid
    height: calc(100vh - 80px)
    width: 100%

.container
    height: 100vh
    width: 100vw
    max-width: 1200px
    margin: 0 auto

.container.init-loading #loading-overlay
    display: block
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background: white
    z-index: 99

.container.init-loading #logo-loader
    z-index: 100

#logo-loader
    position: relative
    top: 45%
    margin: 0 auto
    width: 100px
    border-radius: 50%
    background: #666

#logo-loader > svg
        position: relative
        padding: 20px
        top: -4px

#logo-loader #red-p
    animation: to-grey 700ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate
    fill: #818080

#logo-loader #black-p
    animation: to-white 700ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate
    fill: white

@keyframes to-grey
    0%
        fill: #818080
    100%
        fill: $aarvin-red

@keyframes to-white
    0%
        fill: white
    100%
        fill: black