{% extends "layout.html.j2" %}

{% block title %}Admin Suite | {% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}

{% block content %}

<nav class="uk-navbar">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            {% if not current_user.is_authenticated %}

            {% endif %}

            <li class="uk-active"><a href="{{ url_for('admin') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: cog"></span>
                admin home
            </a></li>

            {% if current_user.is_authenticated %}

            <li><a href="{{ url_for('upload') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: upload"></span>
                upload
            </a></li>
            <li><a href="{{ url_for('view') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span>
                view
            </a></li>

            {% if current_user.perms == 0 %}
            <li><a href="{{ url_for('signup') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                Add user
            </a></li>
            {% endif %}

            <li><a href="{{ url_for('logout') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                logout
            </a></li>
            {% else %}
            <li><a href="{{ url_for('index') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="chevron-left"></span>
                Back to main site
            </a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if not current_user.is_authenticated %}
<form action="{{ url_for('admin') }}" method="post" class="uk-form uk-form-stacked">
    {# get next arg and post w form #}
    <input type="text" name="next" value="{{ request.args.get('next') or '' }}" style="display: none">

    <label for="username" class="uk-form-label">Username:</label>
    {{ form.username(autocomplete="off", class="uk-input") }}

    <label for="password" class="uk-form-label">Password:</label>
    {{ form.password(autocomplete="off", class="uk-input") }}

    <input type="submit" name="login_submit" value="Login" class="uk-button uk-button-primary">
    {{ form.csrf_token }}
</form>
{% endif %}

{% endblock %}
