{% if type == 'File' %}
{# File input very diff to others #}

<div class="js-upload uk-placeholder uk-text-center uk-inline {% if edit %}{{ disabled }}{% endif %}">
    {% if edit %}
    <a href="javascript:void(0)" class="uk-form-icon uk-form-icon-flip uk-margin-right" uk-icon="icon: pencil"></a>
    {% endif %}

    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Upload pictures by dropping them here or</span>

    <label uk-form-custom class="uk-form-label">


        <input class="uk-input" id="{{ id }}" multiple name="{{ id }}" type="file" {{ disabled }}>
        <span class="uk-link">selecting them</span>.
    </label>
</div>
<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

{% else %}
{# Handle other inputs #}

<div class="uk-margin">
<label class="uk-form-label">
{{ label }}

{% if edit %}
<a href="javascript:void(0)" class="uk-form-icon uk-form-icon-flip uk-margin-right" uk-icon="icon: pencil"></a>
{% endif %}

{% if type in ('Text', 'Float', 'Integer') %}
<input class="uk-input" id="{{ id }}" name="{{ id }}" type="text" value="{{ val }}" {{ disabled }}>

{% elif type == 'Boolean' %}
<input class="uk-checkbox" id="{{ id }}" name="{{ id }}" type="checkbox" {{ disabled }} {{ 'checked' if val }} value="1">

{% elif type == 'Select' %}
<select class="uk-select" id="{{ id }}" name="{{ id }}" value="{{ val }}" {{ disabled }}>
    {{ options }}
</select>

{% elif type == 'TextArea' %}
<textarea class="uk-textarea" id="{{ id }}" name="{{ id }}" {{ disabled }}>{{ val }}</textarea>

{% elif type == 'Password' %}
<input type="password" name="{{ id }}" id={{ id }} class="uk-input">

{% endif %}
</label>

{% if type == 'Radio' %}
<div class="uk-form-controls uk-form-controls-text" id="{{ id }}">
    {{ options }}
</div>
{% endif %}

<div class="form-alert uk-alert-danger uk-hidden" uk-alert></div>
</div>

{% endif %}