{% extends "layout.html.j2" %}

{% block content %}
    {{ super() }}
    <div id="photo-grid" style="background: url({{ url_for('static', filename='img/spiration_dark.png') }})">

        <form id="search-box" action="javascript:void(0)" class="wow fadeIn">

            <i id="search-spinner" class="fas fa-spinner fa-2x"></i>

            <div>
                <label for="search-drop">To</label>
                <select id="search-drop" name="search-type">
                    <option value="rent" selected>rent</option>
                    <option value="buy">buy</option>
                </select>
            </div>

            <div id="input-wrapper">

                <input id="postcode-input" type="text" name="postcode" autocomplete="off">
                <label for="postcode-input">search location</label>

                <i id="loc-icon"
                    class="fas fa-crosshairs fa-xs"
                    uk-tooltip="title: Search near your location; pos: top"></i>

            </div>

            <button id="search-button" type="submit">
                Search<br>
                <i id="search-arrow" class="fas fa-long-arrow-alt-right"></i>
            </button>
        </form>

        <ul id="results" uk-accordian></ul>

        <!--
        <form id="advanced search" action="javascript:void(0)">
            <label>Search radius: <input type="number" name="radius"></label>
            <label>Price range: <input type="range" name="price-range" min="0" max="1000000" step="10000"></label>
        </form>
        -->
    </div>

    <div id="about">
        <p class="wow fadeInDown">Aarvin Properties is a new, friendly and professional estate agency based in the heart of London. With immense knowledge of the property market our highly professional consultants strive to exceed our clients’ expectations every time.</p>

        <p class="wow zoomIn">Our purpose is to provide you with the maximum value for your property to ensure smooth transition in sales &amp; lettings to guarantee a stress free experience.</p>

        <p class="wow fadeInUp">We specialise in sales, lettings &amp; management</p>
    </div>

    <div id="contact">
        <div id="contact-email" class="contact-item wow slideInUp fadeIn" data-clipboard-target="#contact-email a">
            <a href="mailto:info@aarvinproperties.com">info@aarvinproperties.com</a>
        </div>
        <div id="contact-phone" class="contact-item wow slideInUp fadeIn" data-clipboard-target="#contact-phone a">
            <a href="tel:02075980070">0207 598 0070</a>
        </div>
        <div id="contact-address" class="contact-item wow slideInUp fadeIn">
            <a
                target="_blank"
                href="https://maps.google.com/maps?cid=16276297543789986193"
                rel="noopener">
                113 Clarendon Road<br>Notting Hill<br>London<br>W11 4JG
            </a>
        </div>

        <div id="footer" class="uk-child-width-1-2@s uk-child-width-2-5@m" uk-grid>
            <div class="uk-light">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Admin</li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/admin">login</a></li>
                    <li><a href="/admin/view">view</a></li>
                    <li><a href="/admin/upload">upload</a></li>
                </ul>
            </div>
            <div class="uk-light">
                <p>Aarvin Properties Ltd is a limited company registered in England and Wales.</p>
                <p>Registration No. 10978612</p>
                <p>Registered Office: 113 Clarendon Road, London, United Kingdom, W11 4JG</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    {# maps api #}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOoPkmqPfRXdd3irq0z6TjYoeqphJ3-HU"></script>

    {# WOW #}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U="
        crossorigin="anonymous"></script>
    {# clipboard.js #}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js"
        integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA="
        crossorigin="anonymous"></script>
    {# main #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
    {{ super() }}
{% endblock %}