{% macro img_card(pic, id, idx, tmp) %}
<div class="uk-card uk-card-default img-card" id="{{ pic.split('.')[0] }}" data-pic="{{ pic }}">

    {% if idx is not none %}
    <span class="uk-label uk-label-success uk-position-top-left-out uk-text-large">{{ idx }}</span>
    {% endif %}

    {% if tmp %}
    {% set url = 'tmp/' %}
    {% set id = 'tmp' %}
    {% else %}
    {% set url = 'img/' + id +'/' %}
    {% endif %}
    <div class="uk-card-media-top">
        <img src="{{ url_for('static', filename= url + pic) }}" {# width="300" #}>
    </div>

    <button type="button" class="uk-button uk-button-danger uk-position-top-right uk-icon" uk-icon="trash" uk-toggle="target: #del-{{ pic.split('.')[0] }}"></a>
</div>
{% endmacro %}

{% macro img_modal(pic, id) %}
<div id="del-{{ pic.split('.')[0] }}" class="del-modal uk-flex-top uk-dark" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-modal-body">
            Are you sure you want to delete this image?
        </div>
        <div class="uk-card-media-bottom">
            <img src="{{ url_for('static', filename='img/' + id + '/' + pic) }}">
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-modal-close uk-button uk-button-default" type="button">CANCEL</button>
            <button type="button"
                class="uk-button uk-button-danger delete-button uk-modal-close"
                data-pic="{{ pic }}"
                data-id="{{ id }}">DELETE</a>
        </div>
    </div>
</div>
{% endmacro %}