{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<script type="text/javascript">
    $(document).ready(function(){
        toastr.options.positionClass = "toast-top-right";
        toastr.options.timeOut = 2000;

        {% for category, message in messages %}
            toastr["{{ category }}"]("{{ message }}");
        {% endfor %}
    });
</script>
{% endif %}
{% endwith %}