<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Aarvin Properties Ltd</title>

    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116428933-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-116428933-1');
    </script>


    {# Favicons #}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <meta name="Description" content="Aarvin Properties Ltd - independent, local estate agency based in Notting Hill. Specialises in sales, lettings and management.">

    {# mobile screens #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C60031">
    <link rel="manifest" href="/manifest.json">

    {# init styles #}
    <style type="text/css">
    {% include "init.css" ignore missing without context %}
    </style>
</head>
<body>
<span id="home"></span>

<div class="container init-loading">
    <div id="loading-overlay">
        <div id="logo-loader">
        <svg width="100" height="100" version="1.1" viewBox="0 0 156.68 156.16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <g transform="matrix(1.1863 0 0 1.1863 -60.9274 -16.8121)" stroke-width="1.1239">
                <path id="red-p" d="m151.78 145.81-35.975-86.973-11.587 27.974 24.402 58.999z" fill="#c51430" />
                <path id="black-p" d="m160.27 145.81h23.16l-54.442-131.64h-23.187l-54.442 131.64h23.161l9.914-23.969h28.605l-8.836-21.332h-10.949l24.141-58.367z" fill="#1c1c19" />
            </g>
        </svg>
        </div>
    </div>

    {% block content %}
    <nav id="navbar" class="expand uk-nav uk-nav-default" uk-scrollspy-nav="closest: a; scroll: false">
        <a href="/" id="logo">
            {# <img src="//static.aarvinproperties.com/img/logo.png" alt="Aarvin Properties logo"> #}
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Aarvin Properties logo">
        </a>

        <a class="active" id="nav-home" href="#home">Home</a>
        <a id="nav-about" href="#about">About</a>
        <a id="nav-contact" href="#contact">Contact</a>
    </nav>
    {% endblock %}
</div>

    {# Grunt livereload #}
    {% if debug %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    {% block js %}
    {# jQuery #}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    {# toastr #}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
        integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ="
        crossorigin="anonymous"></script>
    {# UIkit JS #}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.js" integrity="sha256-O5ZcH8l/LQwWB+CdQrFLFjFeEFlw3wkXI15CfX9NKTc=" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    {% endblock %}

    {% include "just_flashes.html.j2" %}

    {% block css %}
    {# fontawesome #}
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
        integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    {# toastr #}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"
        integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA="
        crossorigin="anonymous" />
    {# uikit #}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"
        integrity="sha256-hjokj/q4gEroAA+3o8LZz1k2g91poMNA6Y6m3r1P8vQ="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</body>
</html>
