{% if data|length %}

{# <div class="uk-text-muted uk-text-large">
    {{ data|length }} result{% if data|length > 1 %}s{% endif %} for {{ term }}
</div> #}

{% for res in data %}

<li class="result-container uk-card uk-card-hover wow fadeInUp">

<a class="small uk-accordion-title" href='javascript:void(0)'>
    {% if res.images|length %}
        {% set url = 'img/' + res.id + '/' + res.images[0] %}
        <div class="main-image" style="background-image: url({{ url_for('static', filename=url) }})"></div>
    {% endif %}

    <div class="summary-desc">
        <div class="title-desc">
            {% if res.address is not none %}
            {{ res.address.split(';')[1] }}
            {% endif %}
            {{ res.postcode.split(' ')[0] }}
            <br>
            <small>
                {{ "£{:,.2f} pw".format(res.price_per_month * 12 / 52) }}
            </small>
                <b class="price-sep">//</b>
            <small>
                {{ "£{:,.2f} pm".format(res.price_per_month) }}
            </small>
        </div>

        <div class="mini-info">
            <div class="bedrooms" uk-tooltip="title: bedrooms; pos: bottom">
                <i class="fas fa-bed"></i> {{ res.num_bedrooms }}</div>

            <div class="bathrooms" uk-tooltip="title: bathrooms; pos: bottom">
                <i class="fas fa-bath"></i> {{ res.num_bathrooms }}</div>

            <div class="fl-space" uk-tooltip="title: floor area; pos: bottom">
                <i class="fas fa-home"></i> {{ res.floor_space }} <small>sq. ft.</small></div>

            {% if res.pets_allowed %}
                <div class="pets" uk-tooltip="title: pets allowed; pos: bottom">
                    <i class="fas fa-paw"></i></div>
            {% endif %}
        </div>

        {{ res.summary|replace('\n', '<br>') }}
    </div>
</a>

<div class="main-content uk-accordion-content">

    {% if res.images|length %}
    <div class="carousel uk-position-relative uk-visible-toggle" uk-slider="center: true" >
        <ul class="uk-slider-items uk-child-width-3-4" uk-lightbox="animation: fade">
            {% for image in res.images %}
                <li uk-slider-item="{{ loop.index0 }}">
                    <img data-src="https://static.aarvinproperties.com/img/{{ res.id }}/{{ image }}">
                </li>
            {% endfor %}
        </ul>
        {# Previous arrow #}
        <a class="uk-position-center-left uk-hidden-hover uk-light"
            href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        {# Next arrow #}
        <a class="uk-position-center-right uk-hidden-hover uk-light"
            href="#" uk-slidenav-next uk-slider-item="next"></a>
        {# dot nav #}
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
    {% endif %}

    <div class="desc">{{ res.description|replace('\n', '<br>') }}</div>

    <div id="{{ res.id }}-map" class="map"></div>

</div>

</li>

{# <div class="uk-divider-icon"></div> #}
{% endfor %}

<script>
{% for res in data %}

var loc = {lat: {{ res.lat }}, lng: {{ res.lon }}};
var map = new google.maps.Map(document.getElementById('{{ res.id }}-map'), {
    zoom: 15,
    center: loc
});
var marker = new google.maps.Marker({
    position: loc,
    map: map
});

{% endfor %}

UIkit.accordion('#results');
</script>

{% else %}
<div class="uk-text-muted uk-text-center uk-text-large">Sorry, no results for {{ term|e }}</div>
{% endif %}