{% extends "admin_layout.html.j2" %}

{% block title %}Signup | {% endblock %}

{% block content %}
{{ super() }}

<form action="{{ url_for('signup') }}" method="post" class="uk-form uk-form-horizontal">
    {{ form.username(autocomplete="off") }}
    {{ form.password(autocomplete="off") }}
    {{ form.password_conf(autocomplete="off") }}
    {{ form.role }}

    <input type="submit" id="submit" class="uk-button uk-button-primary" name="signup_submit" value="sign up">
    {{ form.csrf_token }}
</form>

{% endblock %}

{% block js %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/signup.js') }}"></script>

{% endblock %}