{% extends "admin_layout.html.j2" %}

{% block content %}
{{ super() }}

{% if method == 'put' %}
<div class="uk-text-muted uk-text-small uk-margin-bottom">
    Click the
    <a href="javascript:void(0)" class="uk-icon keep" uk-icon="icon: pencil"></a>
    symbols to edit a field.
</div>
{% endif %}

<form id="upload-form"
    class="uk-form-stacked uk-margin-bottom"
    action="{{ url_for('api') }}"
    enctype="multipart/form-data"
    method="{{ method }}">


{{ form.estate_name(method=method) }}
{{ form.estate_type_id(method=method) }}
{{ form.buy_or_rent(method=method) }}
{{ form.price_per_month(method=method) }}
{{ form.floor_space(method=method) }}
{{ form.balcony_space(method=method) }}

{{ form.num_balconies(method=method) }}
{{ form.num_bedrooms(method=method) }}
{{ form.num_bathrooms(method=method) }}
{{ form.num_garages(method=method) }}
{{ form.num_parking_spaces(method=method) }}

{{ form.pets_allowed(method=method) }}

{{ form.summary(method=method) }}
{{ form.description(method=method) }}

{{ form.addr1(method=method) }}
{{ form.addr2(method=method) }}
{{ form.addr3(method=method) }}
{{ form.addr4(method=method) }}
{{ form.postcode(method=method) }}

<input type="text" name="img-list" hidden id="img-list"{% if method == 'put' %}disabled{% endif %}>
<input type="text" name="_id" hidden id="_id-input" {% if _id %}value="{{ _id }}"{% endif %}>

{{ form.images(method=method) }}

{% if images %}
{% from 'img_macro.html.j2' import img_card %}

<div id="image-grid"
    class="uk-grid-small uk-child-width-1-2@m  uk-child-width-1-3@l"
    uk-sortable="handle: .uk-card" uk-grid>

    {% for img in images %}
        {{ img_card(img, _id, loop.index) }}
    {% endfor %}

</div>
{% endif %}

{{ form.submit(class="uk-button uk-button-primary") }}
{{ form.csrf_token }}
</form>

{% if images %}
{% from 'img_macro.html.j2' import img_modal %}
<div id="modals">

{% for img in images %}
    {{ img_modal(img, _id) }}
{% endfor %}

</div>
{% endif %}

{% endblock %}

{% block js %}
{{ super() }}

{% if method == 'post' %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pics.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploader.js') }}"></script>
{% endif %}

{% if method == 'put' %}
<script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endif %}

{% endblock %}