{% extends "admin_layout.html.j2" %}

{% block content %}
{{ super() }}

{% for ppt in result %}

<div class="property uk-card uk-margin-bottom uk-cover-container uk-height-large" id="{{ ppt.id }}">

    <div class="">
    {% if ppt.images %}
        <img src="{{ url_for('static', filename='img/' + ppt.id +'/'+ ppt.images[0]) }}" uk-cover>
    {% else %}
        <div class="uk-placeholder uk-text-center" uk-cover>
            <span class="uk-icon" uk-icon="image"></span>
            awaiting photos
        </div>
    {% endif %}
    </div>

    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
        <div class="prop-title uk-position-bottom-left uk-position-small">
            {{ ppt.estate_name|upper }}, {{ ppt.postcode.split(' ')[0] }}
        </div>
        <div class="uk-position-right uk-position-small">
            <a href="/admin/edit/{{ ppt.id }}" class="uk-button uk-button-primary" uk-tooltip="edit">
                <span uk-icon="pencil"></span>
            </a>
            <a href="#delete-{{ ppt.id }}" class="uk-button uk-button-danger" uk-toggle uk-tooltip="delete">
                <span uk-icon="trash"></span>
            </a>
        </div>
    </div>

</div>

<div id="delete-{{ ppt.id }}" class="del-modal uk-dark uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-modal-body">
            Are you sure you want to delete property "{{ ppt.estate_name }}"?
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-modal-close uk-button uk-button-default" type="button">CANCEL</button>
            <button type="button" class="uk-button uk-button-danger delete-button" data-id="{{ ppt.id }}">DELETE</button>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/view_prop.js') }}"></script>
{% endblock %}
